# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
    secret: '%env(APP_SECRET)%'
    csrf_protection: true
    http_method_override: false

    # Trust proxies for HTTPS detection
    trusted_proxies: '127.0.0.1,REMOTE_ADDR'
    trusted_headers: ['x-forwarded-for', 'x-forwarded-proto', 'x-forwarded-port']

    # Enables session support. Note that the session will ONLY be started if you read or write from it.
    # Remove or comment this section to explicitly disable session support.
    session:
        handler_id: null
        cookie_secure: auto
        cookie_samesite: lax
        storage_factory_id: session.storage.factory.native

    #esi: true
    #fragments: true
    php_errors:
        log: true
    # Disable property_info temporarily for PHP 8.4 compatibility
    property_info:
        enabled: false

when@prod:
    framework:
        session:
            cookie_secure: true
            cookie_samesite: strict
            cookie_httponly: true
            gc_maxlifetime: 3600  # 1 hour session timeout

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
